<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.uni.bremen.stummk.psp.wizard.category"
            class="de.uni.bremen.stummk.psp.control.PSPNewWizard"
            icon="resources/icons/logo.png"
            id="de.uni.bremen.stummk.psp.wizard"
            name="PSP Project">
      </wizard>
      <category
            id="de.uni.bremen.stummk.psp.wizard.category"
            name="PSP">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uni.bremen.stummk.psp.control.Editor"
            contributorClass="de.uni.bremen.stummk.psp.calculation.EditorToolbarController"
            default="false"
            icon="resources/icons/logo.png"
            id="de.uni.bremen.stummk.psp.editor"
            name="PSP Data Summary">
         <contentTypeBinding
               contentTypeId="de.uni.bremen.stummk.psp.contenttype">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="csv"
            file-names="psp"
            id="de.uni.bremen.stummk.psp.contenttype"
            name="PSP Files"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.uni.bremen.stummk.psp.category"
            class="de.uni.bremen.stummk.psp.control.TaskOverview"
            icon="resources/icons/logo.png"
            id="de.uni.bremen.stummk.psp.task.overview"
            name="Task Overview"
            restorable="true">
      </view>
      <category
            id="de.uni.bremen.stummk.psp.category"
            name="PSP">
      </category>
      <view
            category="de.uni.bremen.stummk.psp.category"
            class="de.uni.bremen.stummk.psp.control.ResourceSummary"
            icon="resources/icons/logo.png"
            id="de.uni.bremen.stummk.psp.resource.summary"
            name="Resource Summary"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               icon="resources/icons/logo.png"
               label="PSP Project">
            <command
                  commandId="de.uni.bremen.stummk.psp.addtask.command"
                  label="ADD Task"
                  style="push">
            </command>
            <command
                  commandId="de.uni.bremen.stummk.psp.addtimerecord.command"
                  label="ADD Time Record"
                  style="push">
            </command>
            <command
                  commandId="de.uni.bremen.stummk.psp.adddefectrecord.command"
                  label="ADD Defect Record"
                  style="push">
            </command>
            <command
                  commandId="de.uni.bremen.stummk.psp.addpip.command"
                  label="ADD PIP"
                  style="push">
            </command>
            <command
                  commandId="de.uni.bremen.stummk.psp.addloc.command"
                  label="ADD LoC"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <test
                           forcePluginActivation="true"
                           property="de.uni.bremen.stummk.psp.main.utility.propertytester.checkFolder">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.uni.bremen.stummk.psp.menuContribution">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="de.uni.bremen.stummk.psp.convert.command"
               icon="resources/icons/logo.png"
               label="Convert to PSP Project..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <not>
                        <test
                              forcePluginActivation="true"
                              property="de.uni.bremen.stummk.psp.main.utility.propertytester.checkFolder">
                        </test>
                     </not>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uni.bremen.stummk.psp.utility.OpenDialogHandler"
            id="de.uni.bremen.stummk.psp.addtask.command"
            name="ADD Task">
      </command>
      <command
            defaultHandler="de.uni.bremen.stummk.psp.utility.OpenDialogHandler"
            id="de.uni.bremen.stummk.psp.addtimerecord.command"
            name="ADD Time Record">
      </command>
      <command
            defaultHandler="de.uni.bremen.stummk.psp.utility.OpenDialogHandler"
            id="de.uni.bremen.stummk.psp.adddefectrecord.command"
            name="ADD Defect Record">
      </command>
      <command
            defaultHandler="de.uni.bremen.stummk.psp.utility.OpenDialogHandler"
            id="de.uni.bremen.stummk.psp.addpip.command"
            name="ADD PIP">
      </command>
      <command
            defaultHandler="de.uni.bremen.stummk.psp.utility.OpenDialogHandler"
            id="de.uni.bremen.stummk.psp.addloc.command"
            name="ADD LoC">
      </command>
      <command
            defaultHandler="de.uni.bremen.stummk.psp.utility.OpenDialogHandler"
            id="de.uni.bremen.stummk.psp.convert.command"
            name="Convert to PSP Project...">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="de.uni.bremen.stummk.psp.utility.PropertyTester"
            id="de.uni.bremen.stummk.psp.propertyTester"
            namespace="de.uni.bremen.stummk.psp.main.utility.propertytester"
            properties="checkFolder"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.jdt.junit.testRunListeners">
      <testRunListener
            class="de.uni.bremen.stummk.psp.calculation.TestReportGenerator">
      </testRunListener>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.uni.bremen.stummk.psp.control.PSPPerspective"
            icon="resources/icons/logo.png"
            id="de.uni.bremen.stummk.psp.perspective"
            name="PSP">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.uni.bremen.stummk.psp.perspective">
         <actionSet
               id="org.eclipse.jdt.ui.JavaActionSet">
         </actionSet>
         <newWizardShortcut
               id="org.eclipse.jdt.ui.wizards.NewProjectCreationWizard">
         </newWizardShortcut>
         <perspectiveShortcut
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspectiveShortcut>
         <viewShortcut
               id="org.eclipse.jdt.ui.PackageExplorer">
         </viewShortcut>
         <newWizardShortcut
               id="de.uni.bremen.stummk.psp.wizard">
         </newWizardShortcut>
         <viewShortcut
               id="de.uni.bremen.stummk.psp.task.overview">
         </viewShortcut>
         <viewShortcut
               id="de.uni.bremen.stummk.psp.resource.summary">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.uni.bremen.stummk.psp.utility.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
